// Directory where nextflow saves all files
workDir = "/data/nf"

// The profile to use for S3 upload 
params.awsProfile = "embassy"

// The S3 bucket for download
params.inbucket = "idr/zarr/v0.4/idr0157"

// The S3 bucket to upload to
params.outbucket = "idr/share/ome2024-ngff-challenge/idr0157"

// File which contains the image|organism mapping
params.organismfile = "/tmp/157_organisms.txt"

// Maximum conversion jobs which can run at the same time
params.maxConvJobs = 2



// Don't change anything from here!
conda.enabled = true
